
.SearchField {
	position: relative;
}

.SearchField .small-button {
	position: absolute;
	right: 2px;
	top: 7px;
	background-color: transparent;
	color: #009fe3;
}

.SearchField .small-button i {
	font-size: 20px;
}

.SearchField input  {
	padding-right: 28px;
}