
@media (max-width: 767px) {
    .PageHome-logo {
        content: url('../img/distributed short wo bg.png');
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .PageHome-logo {
        content: url('../img/distributed wo bg.png');
        max-width: 600px;
    }
}

.PageHome-lux-image-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.PageHome-lux-image {
	width: 100%;
	height: auto;
}

.PageHome-top-row {
    text-align: center;
	margin: 40px 0px 20px 0px;
}

.PageHome-intro {
	padding: 40px 20px;
	font-size: 35px;
	vertical-align: middle;
    line-height: 1;
    text-align: center;
}

.PageHome-intro .SearchField {
    margin-bottom: 20px;
}

.PageHome-intro a:hover {
    text-decoration: none;
}

.PageHome-intro a:hover > div {
    background-color: rgba(0, 159, 227, 0.1) !important;
}

.PageHome-intro a:hover h3 {
    color: #009fe3 !important;
}

.PageHome-discord-intro {
    padding: 40px 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
}

.PageHome-discord-image-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.PageHome-discord-image {
    margin: auto;
    width: 100%;
    max-width: 100px;
    height: auto;
}

.PageHome-see-more {
	width: 100%;
	height: calc(100% - 10px);
	text-align: center;
    margin: 5px 0px !important;
    background-color: transparent;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #ccc !important;
}

.PageHome-see-more:hover {
    background-color: rgba(0, 159, 227, 0.1);
}

.PageHome-see-more:hover {
    color: #009fe3 !important;
    text-decoration: none !important;
}

.PageHome-network {
    position: relative;
    border: 2px solid #4a4e54;
}

.PageHome-network:hover {
    background-color: rgba(0, 159, 227, 0.1);
}

.PageHome-network-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
}