
.PageArticle article .PageArticle-content-cover {
	position: relative;
	margin: auto;
	background-image:
      linear-gradient(45deg, #4a4e54 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #4a4e54 75%),
      linear-gradient(45deg, transparent 75%, #4a4e54 75%),
      linear-gradient(45deg, #4a4e54 25%, transparent 25%);
    background-size:10px 10px;
    background-position:0 0, 0 0, -5px -5px, 5px 5px;
	text-align: center;
	min-height: 200px;
}

.PageArticle article .PageArticle-content-cover img {
	max-width: 100%;
	min-height: 50px;
	max-height: 300px;
}

.PageArticle article .PageArticle-content-media {
	margin: 15px auto;
	background-color: #f8f9fa;
	text-align: center;
	display: flex;
  	justify-content: center;
}

.PageArticle article .PageArticle-content-media img {
	max-width: 100%;
	max-height: 300px;
}

.PageArticle article .PageArticle-content-media iframe {
	max-width: 100%;
}

.PageArticle article .PageArticle-content-media p {
	margin: 0 !important;
}

.PageArticle-related-article {
	padding-top: 0px !important;
}

.PageArticle-publication-date {
	position: absolute;
	right: 30px;
	bottom: 0px;
	background: #009fe3;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

.PageArticle-tags {
	padding: 30px 10px 5px 10px;
}

.PageArticle-companies {
	padding: 5px 10px 5px 10px;
}